<footer class="footer text-muted bg-light">
  <div class="container">
    <span>© Feito por: Gabriel Schiavo - <%= Date.today.year %></span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><a href="https://linkedin.com/in/gabbro" target="_blank">Linkedin</a></li>
      <li class="list-inline-item mr-3"><a href="https://github.com/gbs0" target="_blank">Github</a></li>
    </ul>
  </div>
</footer>
