<h1>New answear</h1>

<%= render 'new', answear: @answear %>

<script>
  navigator.geolocation.getCurrentPosition(showPosition, showError);
  
  var lat = document.getElementById("lat");
  var lng = document.getElementById("lng");
  
  function showPosition(position) {
    lat.innerHTML = position.coords.latitude; 
    lng.innerHTML = position.coords.longitude;
  }

  function showError( error ) {
    console.log( 'getCurrentPosition returned error', error);
  }
</script>