.bd-answear {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-right-width: .25rem;
    border-radius: .25rem;
    min-height: 3rem;
}

.bd-answear-warning {
    border-right-color: #f0ad4e;
}

